#first-bar {
  float:left;
  max-width:50%;
  overflow-x: hidden;
}

#second-bar {
  float:right;
  max-width:50%;
  overflow-x: hidden;
}

pre.deleted {
  background-color: #FFCC66;
}

.changed {
  background-color: #FFCC66;
}

div.cell.deleted {
  background-color: #E9967A;
}

.added-ul {
  text-decoration: none;
  border-bottom: 4px solid green;
}

.deleted-ul {
  text-decoration: none;
  border-bottom: 4px solid red;
}

.delete-text {
  background-color: #E9967A;
}

.add-text {
  background-color: #ADFF2F;
}

.CodeMirror-measure {
  display: none;
}

.added-cell {
  background-color: #ADFF2F;
  border: 3px solid #006400;
}

.bottom-spacer {
  height: 100px;
  margin: 100px;
  padding: 100px;
}

.row-cell-merge-local {
  float: left;
  clear:right;
  width: 30%;
  overflow-x: hidden;
}

.row-cell-merge-base {
  width: 30%;
  overflow-x: hidden;
}

.row-cell-merge-remote {
  width: 30%;
  overflow-x: hidden;
  float:right;
}

.row-cell-merge-controls-local {
  width: 5%;
  overflow-x: hidden;
  float:left;
  text-align: center;
  padding-top: 10px;
}

.row-cell-merge-controls-remote {
  width: 5%;
  overflow-x: hidden;
  float:right;
  text-align: center;
  padding-top: 10px;
}

.row-cell-diff-left {
  float: left;
  width: 47%;
  overflow-x: hidden;
}

.row-cell-diff-middle {
  padding-top: 10px;
  overflow-x: hidden;
  width: 6%;
  text-align: center;
}

.row-cell-diff-right {
  float:right;
  overflow-x: hidden;
  width: 47%;
}

#notebook-container {
  margin-bottom: 100px;
}

.diff-spacer {
  background-color: rgb(230, 230, 230);
}

.diff-spacer .cell {
  visibility:hidden;
}

.diff-image {
  visibility: hidden;
}

.diff-image:hover {
  visibility: visible;
}

.diff-image-actual:hover {
  visibility: hidden;
}

.saveButton {
  position:fixed;
  right:10px;
  top:5px;
}

.questionButton {
  position:fixed;
  right:55px;
  top:5px;
}
