[run]
debug =
    dataio
omit =
    test*
    *virtualenv*
    *IPython*
    *site-packages*
    *dist-packages*
    *xml*
    *json*
    *sqlite3*
    *shlex*
    *jinja2*
    *python2.7*
    *output*
include =
    *nbdiff*
    *test*

[paths]
source = nbdiff

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    
ignore_errors = True
