h1 {
margin-top: 100px;
color: #464646;
font-family:"Times New Roman",Georgia,Serif;
text-align: center;
font-size: 55px;
}
h2{
color: #464646;
font-family:"Times New Roman",Georgia,Serif;
text-align: center;
font-size: 30px;
}
h3{
color: #9E9E9E;
font-family:"Times New Roman",Georgia,Serif;
text-align: center;
font-size: 25px;
}
tabContainer{
position : absolute;
width:200px;
height:200px;
left:50%;
top:50%;
margin-left:-100px;
margin-top:-100px;
}

.container
{
    min-height:700px;
}

.footer
{
    background: -webkit-linear-gradient(#FFFFFF, #d9dff0); /* For Safari */
    background: -o-linear-gradient(#FFFFFF, #d9dff0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFFFF, #d9dff0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFFFF, #d9dff0); /* Standard syntax */
    height: 70px;
    bottom:0;
    width:100%;
} 

.footer p {
    text-align:center;
}
