
{% extends "parent.html" %}
{% block head %}

{% endblock %}
{% block content %}
<div style="text-align: center;">
  <hr/>
  <h2>About Us</h2>
  NBDiff is a project created by a group of students in their last year of their undergraduate studies at Concordia University. 
  <br/><br/>
  We consist of solely of a group of aspiring Software Engineering students.
  <br/><br/>
  The project was designed for our Capstone project, which is a unique two semester course involved in the creation of a project of our choice.
  <br/><br/>
  <table border="1px" align="center">
    <tr><th>The NBDiff Team</th></tr>
    <tr><td>Shurouq Abusalah</td></tr>
    <tr><td>Tavish Armstrong</td></tr>
    <tr><td>Marwa Malti</td></tr>
    <tr><td>Lina Nouh</td></tr>
    <tr><td>Boris Pipev</td></tr>
    <tr><td>Selena Sachdeva</td></tr>
    <tr><td>Richard Tang</td></tr>
  </table>

</div>
{% endblock %}
