
{% extends "parent.html" %}
{% block head %}

{% endblock %}
{% block content %}
<div>
  <hr/>
  <h2 style="text-align: center;">FAQ</h2>
  <br/>
  <div style="text-align: left">
      <p>
        <b>Q: Why can't I seem to generate a diff/merge from my two notebook URLs?</b>
        <br/>
        <b>A: </b> 
        The URLs provided must be direct URLs to the plain text of the notebook.
        It cannot be a URL to an .html page that displays your notebook. 
      </p>
      <br/>
      <p>
        <b>Q: How can I go back to my generated diff/merge? The URL does not work. </b>
        <br/>
        <b>A: </b> 
        The URL may not be valid or the generated diff/merge may no longer be in our system. 
        Please generate another diff/merge again. 
       </p>
      <br/>
      <p>
        <b>Q: I would like to report an issue. How can I do this and how long does it take to resolve my issue?</b>
        <br/>
        <b>A: </b> 
        Please <a href="/ContactUs">Contact Us</a> about your issue. 
        Please be as specific as possible so we may recreate the issue on our side. 
        Response time may vary depending on the issue. We appreciate your feedback. 
      </p>
      <br/>
       <p>
        <b>Q: Can I get a private URL for my generated diff/merge of my notebooks?</b>
        <br/>
        <b>A: </b> 
        Unfortunately generated diff/merge URLs are publicly accessibly with the URL they are generated in. 
        If you may wish to generate a diff/merge privately, we kindly welcome you to use the local version of our software.
        You may visit our <a href="https://github.com/tarmstrong/nbdiff"> GitHub </a> page to download the
        source code. Instructions are provided on how to install nbdiff. 
       </p>
      <br/>
      <p>
        <b>Q: Is this project fully open-source?</b>
        <br/>
        <b>A: </b> 
        Yes. We only ask you follow the MIT license. 
      </p>
      <br/>
      <p>
        <b>Q: Can I contribute to the development of nbdiff?</b>
        <br/>
        <b>A: </b> 
        Yes. Please <a href="/ContactUs">Contact Us</a>  of your interest in contributing to nbdiff. 
      </p>
    </div>
</div>
{% endblock %}