{% extends "parent.html" %}
{% block head %}
	<title>Merge Tool</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
	<script type="text/javascript" src="../static/libraries/FileSaver.js"></script>
	<script type="text/javascript" src="../static/js/Merge.js"></script>
	<script type="text/javascript" src="../static/js/Notebook.js"></script>
	<script type="text/javascript" src="../static/js/NotebookMerge.js"></script>
{% endblock %}
{% block content %}
<div id="comparedData" style="display:none">{{ comparedData }}</div>
<table width="100%" >
	<tr>
		<td width="33%">
		</td>
		<td width="33%">
			<a id="nbLink" href="javascript:void(0)">Download results</a>
		</td>
		<td width="33%">
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<table width="100%" id="merge_table">
			</table>
		</td>
	</tr>
</table>
{% endblock %}
