{% extends "notebook.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="/nbdiff/nbdiff.css">
<link rel="stylesheet" href="/nbdiff/local.css">

{{super()}}
{% endblock %}

{% block header %}
<img src="/nbdiff/logo.png" id="nbdiff-logo" alt="NBDiff" />
<div id="nbdiff-controls">
    <button id='nbdiff-save'>Save</button>
    <button id='nbdiff-previous'>Previous Notebook</button>
    <button id='nbdiff-next'>Next Notebook</button>
    <button id='nbdiff-shutdown'>Finished</button>
</div>
<div id='current-notebook' style='display: hidden' data-current-notebook={{cur_nbk}}></div>
<div id='num-notebooks' style='display: hidden' data-num-notebooks={{num_nbks}}></div>
{% endblock %}

{% block script %}
{{super()}}
<script type="text/javascript" src="/nbdiff/drag_drop.js"></script>
<script type="text/javascript" src="/nbdiff/command.js"></script>
{% if local %}
<script type="text/javascript" src="/nbdiff/local.js"></script>
{% else %}
<script type="text/javascript" src="/nbdiff/remote.js"></script>
{% endif %}
<script type="text/javascript" src="/nbdiff/nbdiff.js"></script>
<script type="text/javascript" src="/nbdiff/main.js"></script>
{% endblock %}
