{% extends "notebook.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="/nbdiff/css/nbdiff.css">
<link rel="stylesheet" href="/nbdiff/css/local.css">

{{super()}}
{% endblock %}

{% block header %}
{% if local %}
<img src="/nbdiff/image/logo.png" id="nbdiff-logo" alt="NBDiff" />
{% else %}
<a href="/"><img src="/nbdiff/image/logo.png" id="nbdiff-logo" alt="NBDiff" /></a>
{% endif %}
<div id="nbdiff-controls">
	<button id='nbdiff-undo'>Undo</button>
    <button id='nbdiff-save'>Save</button>
    <button id='nbdiff-previous'>Previous Notebook</button>
    <button id='nbdiff-next'>Next Notebook</button>
    <button id='nbdiff-shutdown'>Shut Down</button>
    <span id='nbdiff-filename'></span>
</div>
<div id='current-notebook' style='display: hidden' data-current-notebook={{cur_nbk}}></div>
<div id='num-notebooks' style='display: hidden' data-num-notebooks={{num_nbks}}></div>
{% endblock %}

{% block script %}
{{super()}}
<script type="text/javascript" src="/nbdiff/js/drag_drop.js"></script>
<script type="text/javascript" src="/nbdiff/js/command.js"></script>
{% if local %}
<script type="text/javascript" src="/nbdiff/js/local.js"></script>
{% else %}
<script type="text/javascript" src="/nbdiff/js/remote.js"></script>
{% endif %}
<script type="text/javascript" src="/nbdiff/js/nbdiff.js"></script>
<script type="text/javascript" src="/nbdiff/js/main.js"></script>
{% endblock %}
